* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-around;
    color: #ccc;
    span.active {
        border-bottom: 1px solid #617EF6;
        color: #617EF6;
    }
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .list {
        width: 90%;
        margin: 10px auto;
        li {
            height: 110px;
            width: 100%;
            border: 1px solid #CCC;
            border-radius: 5%;
            margin: 10px 0;
            .top {
                width: 100%;
                height: 70px;
                line-height: 70px;
                background: #FD6060;
                display: flex;
                justify-content: space-between;
                span {
                    padding: 0 10px;
                    color: #fff;
                }
            }
            .bottom {
                width: 100%;
                font-size: 10px;
                height: 40px;
                margin: 5px 20px;
                p.active {
                    color: green;
                }
            }
        }
    }
}

b {
    font-size: 40px;
    font-weight: normal;
}